body{
  background-image: url(../../image/back_1.png);
  background-size: cover;
  background-attachment: fixed;
 

}


.pics{
  position: absolute;
}

.pic{
  position: absolute;
  opacity: 0;
}

.pic.show{
  display: block;
  opacity: 1;
}

#pics01{
  top:500px;
  left:100px;
  width:500px;
  height:500px;
}

#pics02{
  top:500px;
  left:470px;
  width:500px;
  height:400px;
}

#pics03{
  top:300px;
  left:100px;
  width:400px;
  height:400px;
}

#pics04{
  top:500px;
  left:1000px;
  width:500px;
  height:500px;
}

#pics05{
  top:350px;
  left:900px;
  width:500px;
  height:500px;
}

.pics img{
  display: block;
  width:550px;
  height:550px;
  position: absolute;
}